*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*
body{
    background-image: url(img/smurfcat.jpeg);
    background-size: cover;
}*/

input{
    background-color: blue;
}

.boton{
    background-color: aquamarine;
}